<%- include('admin-refugee-header'); %>


<script>
  const refugee = {
    id: ' <%= locals.id%>',
    FirstName: "<%= locals.FirstName%>",
    MiddleName: "<%= locals.MiddleName%>",
    LastName: "<%= locals.LastName%>",
    Sex: "<%= locals.Sex%>",
    Age: "<%= locals.Age%>",
    MaritalStatus: "<%= locals.MaritalStatus%>",
    Nationality: " <%= locals.Nationality%>",
    Tent: "<%= locals.Tent%>",

    createdAt: "<%= locals.createdAt%>"
  };

  console.dir(refugee);

  // fetch(`/supplies/${refugee.id.trim()}`)
  //   .then(r => {

  //     const l = r.json();
  //     console.dir(l.results)
  //   }
  //   )
  const countries = {
    KENYA: "🇰🇪",
    UGANDA: "🇺🇬",
    TANZANIA: "🇹🇿",
    SOUTHSUDAN: "🇸🇸",
    SOMALIA: "🇸🇴"
  }
</script>


<!-- ==========================the main content area============================ -->
<div class="container">
  <div class="row my-4 py-4">
    <div class="col-md-8">
      <h3><%= locals.FirstName%></h3>
      <h5>Country <span class="text-white"> <%= locals.Nationality%></span></h5>

      <p class="text-white text-left font-weight-light">
        <%= locals.FirstName%> age is <b><%= locals.Age%></b> years old. <br><b><%=locals.pronoun%></b> came into the
        Country on
        <%= locals.createdAt%>.
        <%=locals.pronoun%> fleed from the country beacuse of political instablity.
      </p>

      <h5>Admittion date : <span><%= locals.createdAt%></span></h5>
    </div>

    <div class="col-md-3">

      <div class="btn-group" role="group" aria-label="Basic example">

        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#supplies">
            ASSIGN SUPPLIES
          </button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#admit">
            SCHOOL ADMISSION
          </button>
          <button type="button" data-toggle="modal" class="btn btn-success" data-target="#<%= locals.FirstName%>">Edit
            Refugee</button>

        </div>
        <!-- <button class="btn-outline-primary" >
              <a href="#" class="btn btn-primary stretched-link">UPDATE    INFO</a></button>
            <button><a href="#" class="btn btn-primary stretched-link">DELETE REFUGEE</a></button>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#admit">ADMIT TO SCHOOL</button>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#supplies">ASSIGN SUPPLIES</button> -->
      </div>


    </div>
  </div>

  <div class="row">

    <div class="col-sm-7">

      <p id="supplies-content">

      </p>
      <ul id="supplies-list" class="list-group">

      </ul>

    </div>

    <div class="col-sm-5">

      <p id="school-content">

      </p>
      <ul id="school-list" class="list-group">

      </ul>
    </div>

  </div>
</div>
<!-- ==================end of main content area================================= -->



<!-- ============================================ -->
<!-- ====modal for  enrolling refugee to classs====== -->
<div class="modal" tabindex="-1" id="admit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">SCHOOL ADMISSION</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- for school admission -->
        <form action="/school" method="POST">

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="firstname">First name</label>
              <input type="text" class="form-control" name="FirstName" value="<%= locals.FirstName%>">
            </div>
            <div class="form-group col-md-4">
              <label for="firstname">Middle name</label>
              <input type="text" class="form-control" name="MiddleName" value="<%= locals.MiddleName%>">
            </div>
            <div class="form-group col-md-4">
              <label for="firstname">Last name</label>
              <input type="text" class="form-control" name="LastName" value="<%= locals.LastName%>">
            </div>

          </div>

          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="exampleInputEmail1">SCHOOL</label>

              <select id="inputState" class="form-control" name="SchoolType">
                <option selected>Choosee...</option>
                <option value="primary">PRIMARY SCHOOL</option>
                <option value="secondary">SECONDARY SCHOOL</option>
                <option value="university">UNIVERSITY</option>
                <option value="adultclasses">ADULT CLASSES</option>
                <option value="nusery">NUSERY</option>

              </select>

            </div>

            <div class="form-group col-md-6">
              <label for="exampleInputPassword1">Start date</label>

              <input type="date" name="StartDate">

            </div>

            <div class="form-group col-md-1">
              <label for="firstname">ID</label>
              <input type="text" class="form-control" name="refugeeid" value="<%= locals.id%>">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!-- end of login form for admin -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- ====end modal for  enrolling refugee to classs====== -->




<div class="modal" tabindex="-1" id="<%= locals.FirstName%>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">EDIT REFUGEE Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form class="my-4 py-4" action="/refugee-edit/" method="POST">

          <!-- ========NAME GROUP============= -->
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputEmail4 ">FIRST NAME</label>
              <input type="text" class="form-control" id="inputEmail4" name="FirstName" value="<%= locals.FirstName%> ">
            </div>

            <div class="form-group col-md-4">
              <label for="inputPassword4 ">MIDDLE NAME</label>
              <input type="text" class="form-control" id="inputPassword4" name="MiddleName"
                value="<%= locals.MiddleName%>">
            </div>

            <div class="form-group col-md-4">
              <label for="inputPassword4 ">LAST NAME</label>
              <input type="text" class="form-control" id="inputPassword4" name="LastName" value="<%= locals.LastName%>">
            </div>
          </div>
          <!-- ========NAME GROUP============= -->

          <!-- =====sex,age, marital status======== -->
          <div class="form-row">

            <div class="form-group col-md-4">
              <label for="inputEmail4 ">SEX</label>
              <!-- <input type="email" class="form-control" id="inputEmail4"> -->
              <select id="inputState" class="form-control" name="Sex" value="<%= locals.Sex%>">
                <option selected><%= locals.Sex%></option>
                <option value="male">MALE</option>
                <option value="female">FEMALE</option>
                <!-- <option>DIVORCED</option> -->
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="inputEmail4 ">AGE</label>
              <input type="text" name="Age" class="form-control" value="<%= locals.Age%>" required>
            </div>
            <div class="form-group col-md-4">
              <label for="inputEmail4 ">MARITAL STATUS</label>

              <input type="text" name="MaritalStatus" class="form-control" value="<%= locals.MaritalStatus%>" required>
            </div>

          </div>

          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="inputEmail4 ">Person With Diasbility</label>
              <!-- <input type="email" class="form-control" id="inputEmail4"> -->
              <input type="text" name="disable" class="form-control" value="<%= locals.disable%>" required>
            </div>

            <div class="form-group col-md-6">
              <label for="inputEmail4 ">Reason for displacement</label>
              <input type="text" name="reasonfordisplacement" class="form-control"
                value="<%= locals.reasonfordisplacement%>" required>
            </div>

          </div>

          <!-- =========end sex, age, martial status======= -->

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">NATIONALITY</label>
              <select id="inputState" class="form-control" name="Nationality" value="<%= locals.Nationality%>">
                <option selected><%= locals.Nationality%></option>
                <option value="KENYA">🇰🇪</option>
                <option value="UGANDA">🇺🇬</option>
                <option value="TANZANIA">🇹🇿</option>
                <option value="SOUTHSUDAN">🇸🇸</option>
                <option value="SOMALIA">🇸🇴</option>

              </select>
            </div>

            <div class="form-group col-md-6">
              <label for="inputCity">ASSIGN TENT</label>
              <input type="text" name="Tent" class="form-control" value="<%= locals.Tent%>" required>
            </div>

            <div class="form-group col-md-1">
              <label for="inputCity">ID</label>
              <input type="text" name="id" class="form-control" value="<%= locals.id%>" readonly>
            </div>


            <button type="submit" class="btn btn-primary mx-auto mt-3">Save Changes</button>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


<!-- ============================================ -->
<!-- ====modal for  assigning refugee with supplies====== -->

<div class="modal" tabindex="-1" id="supplies">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">SUPPLIES ASSIGNMENT FORM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- supplies form -->
        <form action="/supplies" method="POST">

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="firstname">First name</label>
              <input type="text" class="form-control" name="FirstName" value="<%= locals.FirstName%>">
            </div>
            <div class="form-group col-md-4">
              <label for="firstname">Middle name</label>
              <input type="text" class="form-control" name="MiddleName" value="<%= locals.MiddleName%>">
            </div>
            <div class="form-group col-md-4">
              <label for="firstname">Last name</label>
              <input type="text" class="form-control" name="LastName" value="<%= locals.LastName%>">
            </div>


          </div>

          <div class="form-row">



            <div class=" form-group col-md-6">
              <label for="exampleInputEmail1">Supplies</label>

              <select id="inputState" class="form-control" name="Supplies">
                <option selected>Food supplies</option>
                <option value="MAIZE-FLOUR">UNGA UGALI</option>
                <option value="MILK">MILK</option>
                <option value="BEANS">BEANS</option>
                <option value="COOKING OIL">COOKING OIL</option>
                <option value="RICE">RICE</option>
              </select>

            </div>
            <div class="form-group col-md-5">
              <label for="exampleInputPassword1">Quantity</label>

              <select id="inputState" class="form-control" name="Quantity">
                <option selected>Quantity in Kgs</option>
                <option value="1">1 kgs</option>
                <option value="2">2 kgs</option>
                <option value="3">3 kgs</option>
                <option value="4">4 kgs</option>
                <option value="5">5 ks</option>

              </select>

            </div>

            <div class="form-group col-md-1">
              <label for="firstname">ID</label>
              <input type="text" class="form-control" name="refugeeid" value="<%= locals.id%>">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!-- end of supplies form -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- ====end modal for assigning refugee with supplies====== -->


<script>

  // const refugeeid
  fetch(`/supplies/${refugee.id.trim()}`).then(data =>
    data.json()
  ).then(data => {

    if (data.message) {
      console.log(data)
      displayContent("supplies-content", data.message, "");
      console.log("ninalog data")

    }
    if (data.results) {

      let supplies = {
        type: "supplies",
        quantity: "Quantity",
        Supplies: " Supplies",
        nameElement: "supplies-list"
      }

      data.results.forEach(element => {
        console.log(element)
        displayList(supplies, element, supplies.nameElement);
      });
    }


  });

  fetch(`/school/${refugee.id.trim()}`).then(data =>
    data.json()
  ).then(data => {

    if (data.message) {
      console.log(data)
      displayContent("school-content", data.message, "");
      console.log("ninalog data")

    }
    if (data.results) {

      // console.log(data)

      let school = {
        type: "school",
        nameSchool: "School Type",
        start: " Start Date",
        nameElement: "school-list"
      }
      // const name="school-content"
      data.results.forEach(element => {
        console.log(element)
        displayList(school, element, school.nameElement);
      });
    }


  });


  function displayList(disc, content, name) {

    const listel = document.getElementById(name);

    const listitem = document.createElement("li");
    listitem.className = "text-muted list-group-item list-group-item-info"
    listitem.innerHTML = disc.type === "school" ? `<span> ${disc.nameSchool}: ${content.SchoolType} </span>  ${disc.start}: ${content.StartDate}` : `<span> ${disc.quantity}: ${content.Quantity} </span>  ${disc.Supplies}: ${content.Supplies}`;

    listel.append(listitem);



  }


  function displayContent(name, message = "", display = "") {

    const element = document.getElementById(name);


    element.innerText(message);
    element.style.display = display;
  }





</script>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>

</html>